<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [max]="maxDate"
      [matDatepicker]="datePickerFrom"
      placeholder="Select date from"
      formControlName="dateFrom"
    >
    <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #datePickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="datePickerTo"
      placeholder="Select date to"
      formControlName="dateTo"
    >
    <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
    <mat-datepicker #datePickerTo></mat-datepicker>
  </mat-form-field>

  <button (click)="fetchQuote()" mat-raised-button>Go</button>
</form>

<coding-challenge-chart [data]="quotes$ | async"></coding-challenge-chart>
